.header {
  position: sticky;
  z-index: 10;
  top: 0;
  
  @include sm {
    box-shadow: 0px 3px 6px #00000029;
  }

  &__inner {
    display: flex;
    background: white;
    align-items: center;
    padding: 34px 134px;
    border-bottom: 1px solid #f1f1f1;

    @include md {
      padding: 34px 0;
      padding-left: $offset_x;
      padding-right: $offset_x;
    }

    @include sm {
      justify-content: space-between;
      padding: 16px 0;
      padding-left: $offset_x;
      padding-right: $offset_x;
      border-bottom: none;
    }
  }

  &__logo {

    img {
      @include sm {
        width: 93px;
        height: auto;
      }
    }
  }

  &__logoImg {
    @include sm {
      width: 93px;
      height: auto;
    }
  }

  &__burger {
    display: none;

    @include sm {
      display: block;
    }

    img {
      width: 17px;
      height: 17px;
    }
  }

  &__slogan {
    font-size: 20px;
    font-weight: 600;
    margin-left: 48px;

    @include sm {
      display: none;
    }
  }

  &__buttons {
    margin-left: auto;

    @include sm {
      display: none;
    }

    .btn {
      &:not(:last-child) {
        margin-right: 26px;
      }
    }
  }

  &__opener {

    &--active {
      display: none;
    }
  }



  &Mobile {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    display: none;
    background: #fff;

    @include sm {
      display: block;
    }

    &__links {
  
      li {
        border-top: 1px solid #EFEFEF;
  
        a {
          font-size: 16px;
          font-weight: 600;
          color: #323847;
          padding: 22px 0;
          padding-left: $offset_x;
          padding-right: $offset_x;
          display: block;
        }
      }
    }
  
    &__actions {
  
      li {
        background: $color_yellow;
        display: flex;
        align-items: center;
  
        a {
          color: #fff;
          display: block;
          padding: 22px 0;
          padding-left: $offset_x;
          padding-right: $offset_x;
          width: 100%;
  
          span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
            padding: 6px;
            margin-right: 15px;
    
            svg {
              width: 11px;
              height: 11px;
              
              path {
                fill: $color_yellow;
              }
            }
          }
        }
      }
  
    }
  
  }


  &.active {
    box-shadow: none;

    .headerMobile {
      opacity: 1;
      pointer-events: auto;
    }

    .header__opener--default {
      display: none;
    }

    .header__opener--active {
      display: block;
    }
  }
}


.headerExt {
  background: url($__IMG_PATH + 'ext-layout.png');

  &__inner {
    display: flex;
    align-items: center;
    padding: 49px 0;

    @include md {
      padding: 24px 0;
    }

    @include xxs {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 58px 0;
    }
  }

  &__txt, &__txt a {
    color: #fff!important;
    font-size: 20px;

    @include md {
      font-size: 16px;
    }
  }

  &__txt {
    a {
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      &:not(:last-child) {
        @include xxs {
          margin-bottom: 9px;
          font-size: 18px;
        }
      }
    }
  }

  &__burger {
    display: none;

    @include sm {
      display: block;
    }
  }

  &__logo {
    margin: 0 52px;

    @include xxs {
      margin: 32px 0 0 0;
      max-width: 191px;
    }
  }

  &__img {
    margin-left: auto;
    position: relative;

    @include xxs {
      margin: 32px 0 0 0;
      padding-top: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 24px;
      right: 24px;
      height: 1px;
      background: #E6E6E6;
      display: none;

      @include xxs {
        display: block;
      }
    }

    img {
      @include xxs {
        max-width: 141px;
        margin: 0 auto;
      }
    }
  }
}


