.pagination {
  display: flex;
  padding-top: 62px;
  margin-top: 62px;
  border-top: 1px solid $color_grey;

  @include sm {
    padding-top: 32px;
    margin-top: 32px;
  }

  &__btn {
    width: 41%;
    cursor: pointer;
    position: relative;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 21px;
      background: url($__IMG_PATH + 'arrow.svg') no-repeat;
      background-size: contain;

      @include sm {
        width: 8px;
        height: 14px;
      }
    }

    &--prev {
      padding-left: 64px;
      padding-right: 24px;
      text-align: left;

      @include sm {
        padding-left: 40px;
      }

      &::before {
        top: 50%;
        left: 24px;
        transform: translateY(-50%) rotate(180deg);

        @include sm {
          left: 16px;
        }
      }
    }

    &--next {
      padding-left: 24px;
      padding-right: 64px;
      text-align: right;
      margin-left: auto;

      @include sm {
        padding-right: 40px;
      }

      &::before {
        top: 50%;
        right: 24px;
        transform: translateY(-50%);

        @include sm {
          right: 16px;
        }
      }
    }

    p {
      font: normal normal 600 20px/27px Open Sans;

      @include md {
        font-size: 14px;
        line-height: 20px;
      }

      @include sm {
        font-size: 10px;
        line-height: 16px;
      }
    }

    &:hover {
      box-shadow: 0 0 15px 0px #000;
    }
  }

  &__title {
    font: normal normal normal 20px/40px Roboto;
    color: #ccc;

    @include md {
      display: none;
    }
  }
}