.sidebar {

  &__sticky {
    position: sticky;
    top: 150px;

    @include sm {
      top: 89px;
    }
  }

  &__content {
    max-height: 85vh;
    overflow: auto;
    padding-bottom: 32px;
  }

  &__part {

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__title {
    font: normal normal 700 15px/20px Roboto;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $color_grey;
    margin-bottom: 26px;
  }

  &__list {
    padding-left: 22px;
    position: relative;
    border-left: 1px solid #EBEBEB;

    li {

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a, button {
        font: normal normal normal 16px/24px Roboto;
        color: $color_default;
        transition: all .2s;

        &:hover {
          color: #5599F8;
        }

        @include md {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &.active {
        a, button {
          color: $color_active;
          pointer-events: none;
        }
      }
    }

  }

  &--left {
    padding: 48px 24px 0 48px;
    border-right: 1px solid $color_grey;   
    // width: 391px;
    width: 16%;
    background: #F8F9FC 0% 0% no-repeat padding-box;

    @include desc {
      width: 19%;
    }

    @include md {
      padding: 24px 24px 0 0;
      padding-left: $offset_x;
      width: 21%;
    }

    @include sm {
      position: fixed;
      top: 0;
      left: -100%;
      bottom: 0;
      z-index: 5;
      padding-top: 89px;
      opacity: 0;
      pointer-events: none;
      transition: all .4s;
      width: 40%;
      padding-left: 42px;
      box-shadow: 5px 0px 20px #4c4c4c;
    }

    @include xxs {
      width: 100%;
      box-shadow: none;
    }

    &.active {
      @include sm {
        opacity: 1;
        pointer-events: auto;
        left: 0;
      }
    }

    .sidebar__sticky {

      @include sm {
        position: static;
        max-height: 100%;
        overflow: auto;
        padding-bottom: 24px;
      }
    }
  }

  &--right {
    padding: 48px 48px 0 0;
    border: none;   
    // width: 282px;
    width: 13%;
    margin-left: auto;
    background: #fff;

    @include desc {
      width: 17%;
    }

    @include md {
      padding: 24px 0 0 24px;
      padding-right: $offset_x;
      width: 22%;
    }

    @include sm {
      padding-left: 12px;
      width: 25%;
    }

    @include xs {
      display: none;
    }

    .sidebar__part {

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    .sidebar__title {
      color: $color_default;

      @include sm {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .sidebar__list {
      border-left: 4px solid #EBEBEB;

      &::before {
        content: '';
        position: absolute;
        left: -5px;
        top: 0;
        width: 6px;
        height: 42px;
        background: $color_active;
        border-radius: 50px;
        transition: all .2s;
        transform: translateY(calc(100% * var(--step)));

        @include sm {
          height: 34px;
        }
      }

      li {

        &:not(:last-child) {
          margin-bottom: 0;
        }

        button {
          font: normal normal 400 14px/22px Open Sans;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          padding: 10px 0;

          @include sm {
            font-size: 12px;
            line-height: 18px;
            padding: 8px 0;
          }
        }
      }
    }

    .supportLinks {

      @include sm {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
      }

      &__link {
        width: 100%;
        display: flex; 
        align-items: center; 
        padding: 15px 14px;

        &:not(:last-child) {
          margin-bottom: 28px;

          @include sm {
            margin-bottom: 0;
          }
        }

        p {
          font: normal normal 600 12px/20px Open Sans;
          margin-left: 12px;

          @include sm {
            display: none;
          }
        }
      }
    }
  }
}