.btn {
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  position: relative;
  cursor: pointer;
  display: inline-block;

  &--primary {
    color: $color_primary;
    font-size: 18px;
    font-family: 'Roboto';
    letter-spacing: 0.9px;
    text-transform: uppercase;
    padding: 16px 24px;
    border: 1px solid #517BBD;
    box-shadow: 0px 2px 6px #00000029;
    transition: all .2s;

    &:hover {
      background: $color_primary;
      color: #fff;
    }
  }

  &--secondary {
    color: #fff;
    background: $color_secondary;
    font-size: 18px;
    font-family: 'Roboto';
    letter-spacing: 0.9px;
    text-transform: uppercase;
    padding: 16px 24px;
    border: 1px solid transparent;
    transition: all .2s;

    &:hover {
      background: transparent;
      color: $color_secondary;
      border-color: $color_secondary;
    }
  }

  &--action {
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    font-family: "Roboto";
    color: #fff;
    background: $color_primary;
    padding: 28px 68px;
    box-shadow: 0 0 13px 0px #00000082;
    letter-spacing: 0.9px;
    transition: all .2s;

    @include sm {
      padding: 18px 24px;
    }

    &:hover {
      box-shadow: 0 0 30px 0px #00000082;
    }
  }
}