html {
  overflow-x: hidden;
}

body, input, textarea {
  font-family: $ff;
  color: $color_default;
}

a {
  text-decoration: none;
  color: $color_default;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: $container-xl;
  margin: 0 auto;

  @include cont {
    width: $container;
  }
}

.ol {
  list-style: auto;
  padding-left: 40px;
}
