.socials {
  a {
    display: flex;
    box-shadow: 0 0 3px 2px #00000045;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all .2s;

    &:hover {
      background: #000;
    }
  }
}