
.content {
  h1 {

    @include xs {
      font-size: 28px;
    }
  }
  
  h2, h3, h4, h5, h6 {
    color: $color_primary;
    margin-bottom: 10px;
  }
  
  p, li, div {
    line-height: 26px;
    margin-bottom: 10px;
  }

  a {
    color: $color_primary;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: disc;
    padding-left: 20px;
  }

  .kg-card.kg-callout-card {
    background: rgba(124,139,154,.13);
    display: flex;
    padding: 20px 28px;
    border-radius: 3px;
    margin: 32px 0;

    @include xxs {
      padding: 16px 8px;
    }

    .kg-callout-text {
      margin: 0 0 0 16px;
      line-height: 30px;
    }

    .kg-callout-emoji {
      margin-bottom: 0;
    }
  }

  code {
    background: rgba(124,139,154,.13);
    display: flex;
    padding: 12px 8px;
    border-radius: 3px;
    margin: 32px 0;
    white-space: normal;
  }

  img {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
  }

  table {
    width: 100%;
    margin-bottom: 16px;
  }
}


