// general
$ff: 'Open Sans';

$__IMG_PATH: '../../img/';
$__FONTS_PATH: '../fonts/';


// colors
$color_primary: #517BBD;
$color_secondary: #199E58;
$color_default: #1C2B43;
$color_footer: #1C2B43;
$color_yellow: #F3B312;
$color_red: #DB4538;
$color_section_links: #70A6FE;
$color_grey: #afb1b7;
$color_buttons_link: #191F31;
$color_active: #5599F8;
$color_about_bg: #161619;

//layout
$container-xl: 1296px;
$container: 100%;
$offset_x: calc((100vw - #{$container}) / 2);


//breakpoints
$break_desc: '1440px';
$break_md: '1223px';
$break_sm: '992px';
$break_xs: '768px';
$break_xxs: '500px';
